body{
    margin: 0;
    min-height: 100vh;
    background-image: url('/static/img/tinausaurus_park.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.45);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
}