body{
    margin: 0;
    min-height: 100vh;
    background-image: url('/static/img/tinausaurus_park.jpg');
    background-position: center center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}