{% if show_timer %}
  <div class="chrono-container" style="margin-top:0.75rem; font-weight:700;">
    {% if timer_start %}
      <span id="global-timer" data-start="{{ timer_start|tojson }}">00:00:00</span> {% if malus %}(malus de {{ malus }} min){% endif %}
      <script>
        // expose server start for backward compatibility
        window.__chrono_start_epoch = {{ timer_start|tojson }};
        (function(){
          function doAttach(){
            if (window.Chrono && document.getElementById('global-timer')){
              window.Chrono.setServerStart(window.__chrono_start_epoch);
              window.Chrono.attach('global-timer');
              return true;
            }
            return false;
          }
          if (!doAttach()){
            var iv = setInterval(function(){ if (doAttach()){ clearInterval(iv); } }, 100);
          }
        })();
      </script>
    {% elif final_elapsed is defined %}
      {% set s = final_elapsed|int %}
      {% set hrs = (s // 3600) %}
      {% set mins = ((s % 3600) // 60) %}
      {% set secs = (s % 60) %}
      Temps total : <span>{{ '%02d:%02d:%02d' % (hrs, mins, secs) }}</span>
    {% endif %}
  </div>
{% endif %}
