<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tinausaurus Park</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='accueil.css') }}">
    {% endblock %}

    
  </head>
  <body>
    {% block body %}
    <div class="container py-5">
      <div class="card page-card shadow-sm">
        <div class="card-body">
            <p class="rappel">Entrez dans l'invite de commande START pour démarrer l'Escape Game.</p>
            {% include 'chrono.html' %}
        </div>
      </div>
    </div>
    {% endblock %}
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['\\(','\\)'], ['$', '$']],
          displayMath: [['$$','$$'], ['\\[','\\]']]
        },
        options: {
          skipHtmlTags: ['script','noscript','style','textarea','pre']
        }
      };
    </script>
    <script src="{{ url_for('static', filename='page_watcher.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="{{ url_for('static', filename='chrono.js') }}"></script>
  </body>
</html>
